# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Build / production files
dist/
build/

# Tailwind / Vite cache
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Temporary files
*.tmp
*.temp